<footer class="footer">
    <div class="footer-container">
        <h3>Contribute</h3>
        <p><a href="/contribute">Contribute to the Directory!</a> </p>
    </div>
    <div class="footer-container">
        <h3>Links</h3>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a> </li>
        </ul>
    </div>
    <div class="footer-container">
        <h3>Contact Us</h3>
        <a href="mailto:greaterbosresourcedirectory@gmail.com"><i class="fa-solid fa-paper-plane"></i></a>
    </div>
    <div class="footer-container">
        <h3>A Product Of:</h3>
        <img src="/images/CodeSquad-logo-b.png">
    </div>
</footer>
</body>
</html>