
    <nav>   
        <img src="/images/gbrd-logo-new.png" alt="logo">
         <div class="nav-links">
            <i class="fa-solid fa-bars"></i>
        <ul class="navbar-list">
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a> </li>
            <li><a href="/contribute">Contribute</a> </li>
        </ul>
    </div></nav>