<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <div class="page-text">
        <div>
        <h2>About Us</h2>
        <p>The GBRD is designed to collect and collate resources that may be useful for members and allies of marginalized communities living in and around Boston. The directory was inspired by a number of groups that have been created over the years on various social media platforms that have served as respositories of useful links, information, and resources. The GBRD aspires to provide a similar experience, but without the requirement of creating a social media account and in a format that is more readily accessible to members of the community. The directory is designed to be information heavy, yet resource-light, making it easy to access on a mobile device or slow connection. </p>
        
        </div>
        
    </div>
    <a href="mailto:greaterbosresourcedirectory@gmail.com"><i class="fa-solid fa-paper-plane"></i></a>
</div>
<%- include('../partials/footer') -%>