<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <h2>Add New Issue Category:</h2>

    <form class="forms">
        <div class="input-set">
        <input type="text" id="issueName" name="issueName">
    </div>
    </form>

</div>
<%- include('../partials/footer') -%>