<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <h2>Add New Issue Category:</h2>

    <form class="forms" action="/issues/AddIssue" method="POST">
        <div class="input-set">
            <label for="issueName">Issue Name:</label>
        <input type="text" id="issueName" name="issueName">
    </div>
    <div class="input-set">
        <label for="issueDescription">Issue Description:</label>
        <textarea id="issueDescription" name="issueDescription"></textarea>
    </div>
    <input type="submit" value="Submit">
    </form>

</div>
<%- include('../partials/footer') -%>