<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <h2> Greater Boston Resource Directory</h2>
    <h3>Welcome, Admin :)</h3>
    <div class="two-options">
        <div class="green">
            <a href="/admin/issues"><h2 class="link-in-green" style="padding-left: 15px; padding-right: 15px;">Issues</h2></a> 
        </div>
        <div class="green">
            <a href="/admin/resources">
                <h2 style="padding-left: 15px; padding-right: 15px;">Resources</h2>
            </a>
        </div>
    </div>
    <div>
        <a href="/logout"> <h2 style="padding-left: 15px; padding-right: 15px;">Log Out</h2></a>
    </div>
</div>
<%- include('../partials/footer') -%>