<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>

<div class="container">
    <div class="page-text">
        <h2>Admin Console</h2>
        <button class="submit-button">Update Entry</button>
    </div>
</div>
<%- include('../partials/footer') -%>