<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <div class="page-text">
        <table>
            <thead>
                <tr>
                    <th>Issue Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <%- include('../partials/adminIssue', {
                    issues: allIssues,
                }) %>
            </tbody>
        </table>
    </div>
</div>
<%_ include('../partials/footer') -%>