<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="container">
    <div class="page-text">
        <h1>Issues</h1>
        <div class="green">
            <a href="/admin/issues/add-issue"><h2 class="link-in-green" style="padding-left: 15px; padding-right: 15px;">Add Issue</h2></a> 
        </div>
        <table>
            <thead>
                <tr>
                    <th>Issue Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <%- include('../partials/adminIssue', {
                    issues: allIssues,
                }) %>
            </tbody>
        </table>
    </div>
</div>
<%- include('../partials/footer') -%>