<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <div class="contribute">
            <h2>
                Contribute to the Greater Boston Resource Directory
            </h2>
        </div>
        <form class="forms">
            <div class="input-set">
            <label for="name">Name: </label>
            <input type="text" id="rsrc-name" name="name" placeholder="Resource Name">
            </div>
            <fieldset>
                <legend>Resource Type:</legend>
                <div class="column">
                <div class="input-set checkbox">
                <label for="educational">Education/Discussion</label>
                <input type="checkbox" id="education" value="educational" name="educational">
            </div>
                <div class="input-set checkbox">
                <label for="material">Material Resources/Mutual Aid</label>
                <input type='checkbox' id="material" value="material" name="material">
            </div>
            <div class="input-set checkbox">
                <label for="help-govt">Help Navigating Government Programs</label>
                <input type="checkbox" id="help-govt" value="help-govt" name="help-govt">
            </div>
            <div class="input-set checkbox">
                <label for="activism">Political Activism/Engagement</label>
                <input type="checkbox" id="activism" value="activism" name="activism">
            </div>
        </div>
        <div class="column">
            <div class="input-set checkbox">
                <label for="allies">For Allies</label>
                <input type='checkbox' id="allies" value="allies" name="allies">
            </div>
            <div class="input-set checkbox">
                <label for="govt">Government Programs</label>
                <input type='checkbox' id="govt" value="govt" name="govt">
            </div>
            <div class="input-set checkbox">
                <label for="hco">Healthcare Organization</label>
                <input type="checkbox" id="hco" value="hco" name="hco">
            </div>
            <div class="input-set checkbox">
                <label for="social">Social Support/Programming</label>
                <input type="checkbox" id="social" value="social" name="social">
            </div>
            </div>
                </fieldset>
                <fieldset>
                <legend>Resource Category:</legend>
                <div class="column">
                <div class="input-set">
                <label for="lgbtq">LGBTQ+ Resources</label>
                <input type="checkbox" id="lgbtq" value="lgbtq" name="lgbtq">
            </div>
            <div class="input-set">
                <label for="allyship">Allyship</label>
                <input type="checkbox" id="forAllies" value="forAllies" name="forAllies">
            </div>
            <div class="input-set">
                <label for="food">Food/Food Justice</label>
                <input type="checkbox" id="food" value="food" name="food">
            </div>
            <div class="input-set">
                <label for="healthcare">Healthcare</label>
                <input type="checkbox" id="healthcare" value="healthcare" name="healthcare">
            </div>
            <div class="input-set">
                <label for="housing">Housing</label>
                <input type="checkbox" id="housing" value="housing" name="housing">
            </div>
        </div>
        <div class='column'>
            <div class="input-set">
                <label for="immigration">Immigration/Immigrant Communities</label>
                <input type="checkbox" id="immig" value="immigration" name="immigration">
            </div>
            <div class="input-set">
                <label for="legal">Legal Resources</label>
                <input type="checkbox" id="legal" value="legal" name="legal">
            </div>
            <div class="input-set">
                <label for="political">Politics/Political Activism</label>
                <input type="checkbox" id="political" value="political" name="political">
            </div>
            <div class="input-set">
                <label for="racialJustice">Racial Justice</label>
                <input type="checkbox" id="racialJustice" value="rJ" name="racialJustice">
            </div>
            <div class="input-set">
                <label for="workers">For Workers</label>
                <input type="checkbox" id="workers" value="workers" name="workers">
            </div>
        </div>
            </fieldset>
            <div class="input-set">
                <label for="link">Link to Resource</label>
                <input type="text" name="link" id="rsrc-link">
            </div>
            <div class="input-set">
                <label for="desc">Description:</label>
                <textarea name="desc" id="description" placeholder="Description"></textarea>
            </div>
            <br />
            <br />
            <br />
            <div class="button-div">
                <input type="submit" id="submit-button">
            </div> 
        </form>
    </div>

    <%- include('../partials/footer') -%>