<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
   <div class="container">
       <div class="intro">
           <h2>Welcome to the Greater Boston Resource Directory</h2>
        <p>The Greater Boston Resource Directory was created in 2022 to provide a central location for the community to share, organize, and find resources for social activism, allyship, and getting needs met. The directory is user-curated, free to access and update, and aims to compile any and all resources that may be useful to members and allies of marginalized communities in and around Boston.</p>
       </div>
       <div class="carousel"></div>
       <div class="mobile-button-container">
           <a href="/contribute"><button class="jiggly-button">Contribute to the directory!</button></a> 
       </div>
       <div class="mobile-button-container">
        <a href="/issues"><button class="jiggly-button">View the Directory</button></a> 
    </div>
   </div>
   <%- include('../partials/footer') -%>