<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <h2>Resource Categories</h2>
        <div class="category">LGBTQ+</div>
        <div class="category">Allyship</div>
        <div class="category">Food</div>
        <div class="category">Healthcare</div>
        <div class="category">Housing</div>
        <div class="category">Immigration</div>
        <div class="category">Legal</div>
        <div class="category">Political Activism</div>
        <div class="category">Racial Justice</div>
        <div class="category">Workers' Rights</div>
    </div>
    <%- include('../partials/footer') -%>