<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7527ffd1c1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <title>TEMPLATE Issue</title>
    <script src="https://kit.fontawesome.com/7527ffd1c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>   
        <img src="./images/purple-logo.png" alt="logo">
         <div class="nav-links">
            <i class="fa-solid fa-bars"></i>
        <ul>
            <li><a href="./home.html">Home</a> </li>
            <li><a href="./about.html">About</a> </li>
            <li><a href="./login.html">Log In</a>  </li>
        </ul>
    </div></nav>
   <div class="container">
       <div class="resource"></div>
   </div>
   <footer class="footer">
    <div class="footer-container">
        <h3>Contribute</h3>
        <p><a href="contribute.html">Contribute to the Directory!</a> </p>
    </div>
    <div class="footer-container">
        <h3>Links</h3>
        <ul>
            <li><a href="home.html">Home</a> </li>
            <li><a href="about.html">About</a> </li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
    <div class="footer-container">
        <h3>Contact Us</h3>
        <a href="mailto:greaterbosresourcedirectory@gmail.com"><i class="fa-solid fa-paper-plane"></i></a>
    </div>
    <div class="footer-container">
        <h3>A Product Of:</h3>
        <img src="./images/CodeSquad-logo-b.png">
    </div>
</footer>
</body>
</html>