<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="container">
        <div class="contribute">
        <h2>
            Admin: Register
        </h2>
        </div>
        <form class="forms" action="/register" method="POST">
            <div class="input-set">
                <label for="username">Username:</label>
                <input type="text" id="username" name = "username" placeholder="Username">
            </div>
            <div class="input-set">
                <label for="pwd">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <br />
            <br />
            <br />
            <div class="button-div">
                <button class="jiggly-button"> <input type="submit" id="submit-button"></button>
            </div> 
        </form>
    </div>
    <%- include('../partials/footer') -%>